                <v-container fluid class="pa-2">
                  <v-row dense>
                    <v-col cols="12">
                      <live-price-card
                        v-model="livePackPrice"
                        label="Pack"
                        icon="mdi-tag-outline"
                        avatar-color="primary"
                        :units="totalPacks"
                        :calculate-profit="calculateProfit"
                        :safe-fixed="safeFixed"
                        :avg-price-needed="requiredPackPriceFromNow"
                      ></live-price-card>
                    </v-col>

                    <v-col cols="12">
                      <live-price-card
                        v-model="liveBoxPriceSell"
                        label="Box"
                        icon="mdi-cube-outline"
                        avatar-color="secondary"
                        :units="boxesPurchased"
                        :calculate-profit="calculateProfit"
                        :safe-fixed="safeFixed"
                        :avg-price-needed="requiredBoxPriceFromNow"
                      ></live-price-card>
                    </v-col>

                    <v-col cols="12">
                      <live-price-card
                        v-model="liveSpotPrice"
                        label="RTYH"
                        icon="mdi-cards-playing-outline"
                        avatar-color="success"
                        :units="totalSpots"
                        :calculate-profit="calculateProfit"
                        :safe-fixed="safeFixed"
                        :avg-price-needed="requiredSpotPriceFromNow"
                      ></live-price-card>
                    </v-col>
                  </v-row>
                </v-container>
