<app-dialog-shell
  v-if="game.view.gameSpectatorDialog"
  v-model="game.view.gameSpectatorDialog"
  :title="game.view.t('gameSpectatorDialogTitle')"
  :max-width="480"
  class="game-spectator-dialog"
>
    <div class="text-body-2">
      <div class="game-spectator-dialog__intro">
        <div>{{ game.view.gameSpectatorDialogHint }}</div>
        <div
          v-if="game.view.gameSpectatorSessionId"
          class="game-spectator-dialog__status app-status-chip"
          :class="`game-spectator-dialog__status--${game.view.gameSpectatorSessionStatus}`"
        >
          {{
            game.view.gameSpectatorSessionStatus === 'ended'
              ? game.view.t('gameSpectatorStatusEnded')
              : game.view.gameSpectatorSessionStatus === 'live'
                ? game.view.t('gameSpectatorStatusLive')
                : game.view.t('gameSpectatorStatusStarting')
          }}
        </div>
      </div>

      <template v-if="game.view.gameSpectatorSessionId">
        <div class="game-spectator-dialog__qr-wrap">
          <img
            :src="game.view.gameSpectatorSessionQrUrl"
            :alt="game.view.t('gameSpectatorQrAlt')"
            class="game-spectator-dialog__qr"
          >
        </div>
        <div class="game-spectator-dialog__url">
          {{ game.view.gameSpectatorSessionUrl }}
        </div>
      </template>
    </div>
    <template #actions>
      <div class="game-spectator-dialog__actions d-flex align-center flex-wrap flex-grow-1">
        <v-spacer></v-spacer>
        <app-action-button
          v-if="!game.view.gameSpectatorSessionId || game.view.gameSpectatorSessionStatus === 'ended'"
          action="live"
          :loading="game.view.gameSpectatorPublishPending"
          :label="game.view.gameSpectatorStartButtonLabel"
          @click="game.commands.startGameSpectatorMode"
        >
          {{ game.view.gameSpectatorStartButtonLabel }}
        </app-action-button>
        <template v-if="game.view.gameSpectatorSessionId">
          <app-action-button
            action="copy"
            variant="text"
            :label="game.view.t('gameSpectatorCopyAction')"
            @click="game.commands.copyGameSpectatorLink"
          >
            {{ game.view.t('gameSpectatorCopyAction') }}
          </app-action-button>
          <app-action-button
            action="open"
            variant="text"
            :label="game.view.t('gameSpectatorOpenAction')"
            @click="game.commands.openGameSpectatorPage"
          >
            {{ game.view.t('gameSpectatorOpenAction') }}
          </app-action-button>
          <app-action-button
            v-if="game.view.gameSpectatorSessionStatus !== 'ended'"
            action="delete"
            :loading="game.view.gameSpectatorPublishPending"
            :label="game.view.t('gameSpectatorEndAction')"
            @click="game.commands.endGameSpectatorMode"
          >
            {{ game.view.t('gameSpectatorEndAction') }}
          </app-action-button>
        </template>
        <app-action-button
          action="close"
          variant="text"
          :label="game.view.t('commonClose')"
          @click="game.commands.closeGameSpectatorDialog"
        >
          {{ game.view.t('commonClose') }}
        </app-action-button>
      </div>
    </template>
</app-dialog-shell>
