<app-dialog-shell
  :model-value="modelValue"
  :title="title"
  :max-width="maxWidth"
  :persistent="persistent"
  @update:model-value="updateModelValue"
>
  <p v-if="body" class="text-body-2 text-medium-emphasis app-text-wrap">{{ body }}</p>
  <slot></slot>
  <template #actions>
    <v-spacer></v-spacer>
    <v-btn class="app-touch-target" variant="text" @click="cancel">{{ cancelText }}</v-btn>
    <v-btn
      class="app-touch-target"
      :color="confirmColor"
      :loading="confirmLoading"
      :disabled="confirmDisabled"
      @click="confirm"
    >
      {{ confirmText }}
    </v-btn>
  </template>
</app-dialog-shell>
